<section class="about">
  <div class="about__container">
    <h2 class="about__h2 h2">
      О нас
    </h2>
    <ul class="about__list">
      <li class="about__item">
        <div class="about__img">
          <img src="img/icon-about/about-01.png" alt="icon-1">
        </div>
        <div class="about__info">
          <h3 class="about__h3 h3">
            Мы&nbsp;производители
          </h3>
          <p class="about__desc desc">
            Вы&nbsp;получите гарантию лучших цен
          </p>
        </div>
      </li>
      <li class="about__item">
        <div class="about__img">
          <img src="img/icon-about/about-02.png" alt="icon-2">
        </div>
        <div class="about__info">
          <h3 class="about__h3 h3">
            Бесплатная доставка
          </h3>
          <p class="about__desc desc">
            по&nbsp;всей России
          </p>
        </div>
      </li>
      <li class="about__item">
        <div class="about__img">
          <img src="img/icon-about/about-03.png" alt="icon-3">
        </div>
        <div class="about__info">
          <h3 class="about__h3 h3">
            Ниже оптовых цен
          </h3>
          <p class="about__desc desc">
            конкурентов на&nbsp;17-23%
          </p>
        </div>
      </li>
      <li class="about__item">
        <div class="about__img">
          <img src="img/icon-about/about-04.png" alt="icon-4">
        </div>
        <div class="about__info">
          <h3 class="about__h3 h3">
            163000 семей
          </h3>
          <p class="about__desc about__desc_padding desc">
            встретили 2015 год с&nbsp;нами
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>