<section class="artificial">
  <div class="artificial__container">
    <h2 class="artificial__h2 h2 color-white255">
      Каталог искусственных елок
    </h2>
    <div class="artificial__card template-card">
      <ul class="template-card__list">
        <li class="template-card__item sample-modalJs">
          <article class="template-card__article">
            <h3 class="template-card__h3 sample-modalH3">
              Искусственная елка №1
            </h3>
            <div class="template-card__orld">
              <div class="template-card__img">
                <img src="img/danish.jpg" alt="Датская ёдка">
              </div>
              <div class="template-card__info">
                <h4 class="template-card__h4 h4">
                  Датская ёлка  (1-1,25 метров)
                </h4>
                <p class="template-card__desc desc">
                  Небольшое описание елок на 2 строки.
                </p>
                <ul class="template-card__sublist">
                  <li class="template-card__subitem">
                    Цена за 10 шт. - 1 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 50 шт. - 5 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 100 шт. - 11 500 руб.
                  </li>
                </ul>
              </div>
            </div>
            <button class="template-card__button btn  sample-btnJs" data-modal="order" aria-label="Нажмите чтобы оставить заявку">
              оставить заявку
            </button>
          </article>
        </li>
        <li class="template-card__item sample-modalJs">
          <article class="template-card__article">
            <h3 class="template-card__h3 sample-modalH3">
              Искусственная елка №2
            </h3>
            <div class="template-card__orld">
              <div class="template-card__img">
                <img src="img/danish.jpg" alt="Датская ёдка">
              </div>
              <div class="template-card__info">
                <h4 class="template-card__h4 h4">
                  Датская ёлка  (1-1,25 метров)
                </h4>
                <p class="template-card__desc desc">
                  Небольшое описание елок на 2 строки.
                </p>
                <ul class="template-card__sublist">
                  <li class="template-card__subitem">
                    Цена за 10 шт. - 1 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 50 шт. - 5 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 100 шт. - 11 500 руб.
                  </li>
                </ul>
              </div>
            </div>
            <button class="template-card__button btn  sample-btnJs" data-modal="order" aria-label="Нажмите чтобы оставить заявку">
              оставить заявку
            </button>
          </article>
        </li>
        <li class="template-card__item sample-modalJs">
          <article class="template-card__article">
            <h3 class="template-card__h3 sample-modalH3">
              Искусственная елка №3
            </h3>
            <div class="template-card__orld">
              <div class="template-card__img">
                <img src="img/danish.jpg" alt="Датская ёдка">
              </div>
              <div class="template-card__info">
                <h4 class="template-card__h4 h4">
                  Датская ёлка  (1-1,25 метров)
                </h4>
                <p class="template-card__desc desc">
                  Небольшое описание елок на 2 строки.
                </p>
                <ul class="template-card__sublist">
                  <li class="template-card__subitem">
                    Цена за 10 шт. - 1 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 50 шт. - 5 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 100 шт. - 11 500 руб.
                  </li>
                </ul>
              </div>
            </div>
            <button class="template-card__button btn  sample-btnJs" data-modal="order" aria-label="Нажмите чтобы оставить заявку">
              оставить заявку
            </button>
          </article>
        </li>
        <li class="template-card__item sample-modalJs">
          <article class="template-card__article">
            <h3 class="template-card__h3 sample-modalH3">
              Искусственная елка №4
            </h3>
            <div class="template-card__orld">
              <div class="template-card__img">
                <img src="img/danish.jpg" alt="Датская ёдка">
              </div>
              <div class="template-card__info">
                <h4 class="template-card__h4 h4">
                  Датская ёлка  (1-1,25 метров)
                </h4>
                <p class="template-card__desc desc">
                  Небольшое описание елок на 2 строки.
                </p>
                <ul class="template-card__sublist">
                  <li class="template-card__subitem">
                    Цена за 10 шт. - 1 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 50 шт. - 5 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 100 шт. - 11 500 руб.
                  </li>
                </ul>
              </div>
            </div>
            <button class="template-card__button btn  sample-btnJs" data-modal="order" aria-label="Нажмите чтобы оставить заявку">
              оставить заявку
            </button>
          </article>
        </li>
        <li class="template-card__item sample-modalJs">
          <article class="template-card__article">
            <h3 class="template-card__h3 sample-modalH3">
              Искусственная елка №5
            </h3>
            <div class="template-card__orld">
              <div class="template-card__img">
                <img src="img/danish.jpg" alt="Датская ёдка">
              </div>
              <div class="template-card__info">
                <h4 class="template-card__h4 h4">
                  Датская ёлка  (1-1,25 метров)
                </h4>
                <p class="template-card__desc desc">
                  Небольшое описание елок на 2 строки.
                </p>
                <ul class="template-card__sublist">
                  <li class="template-card__subitem">
                    Цена за 10 шт. - 1 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 50 шт. - 5 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 100 шт. - 11 500 руб.
                  </li>
                </ul>
              </div>
            </div>
            <button class="template-card__button btn  sample-btnJs" data-modal="order" aria-label="Нажмите чтобы оставить заявку">
              оставить заявку
            </button>
          </article>
        </li>
        <li class="template-card__item sample-modalJs">
          <article class="template-card__article">
            <h3 class="template-card__h3 sample-modalH3">
              Искусственная елка №6
            </h3>
            <div class="template-card__orld">
              <div class="template-card__img">
                <img src="img/danish.jpg" alt="Датская ёдка">
              </div>
              <div class="template-card__info">
                <h4 class="template-card__h4 h4">
                  Датская ёлка  (1-1,25 метров)
                </h4>
                <p class="template-card__desc desc">
                  Небольшое описание елок на 2 строки.
                </p>
                <ul class="template-card__sublist">
                  <li class="template-card__subitem">
                    Цена за 10 шт. - 1 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 50 шт. - 5 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 100 шт. - 11 500 руб.
                  </li>
                </ul>
              </div>
            </div>
            <button class="template-card__button btn  sample-btnJs" data-modal="order" aria-label="Нажмите чтобы оставить заявку">
              оставить заявку
            </button>
          </article>
        </li>
        <li class="template-card__item sample-modalJs">
          <article class="template-card__article">
            <h3 class="template-card__h3 sample-modalH3">
              Искусственная елка №7
            </h3>
            <div class="template-card__orld">
              <div class="template-card__img">
                <img src="img/danish.jpg" alt="Датская ёдка">
              </div>
              <div class="template-card__info">
                <h4 class="template-card__h4 h4">
                  Датская ёлка  (1-1,25 метров)
                </h4>
                <p class="template-card__desc desc">
                  Небольшое описание елок на 2 строки.
                </p>
                <ul class="template-card__sublist">
                  <li class="template-card__subitem">
                    Цена за 10 шт. - 1 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 50 шт. - 5 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 100 шт. - 11 500 руб.
                  </li>
                </ul>
              </div>
            </div>
            <button class="template-card__button btn  sample-btnJs" data-modal="order" aria-label="Нажмите чтобы оставить заявку">
              оставить заявку
            </button>
          </article>
        </li>
        <li class="template-card__item sample-modalJs">
          <article class="template-card__article">
            <h3 class="template-card__h3 sample-modalH3">
              Искусственная елка №8
            </h3>
            <div class="template-card__orld">
              <div class="template-card__img">
                <img src="img/danish.jpg" alt="Датская ёдка">
              </div>
              <div class="template-card__info">
                <h4 class="template-card__h4 h4">
                  Датская ёлка  (1-1,25 метров)
                </h4>
                <p class="template-card__desc desc">
                  Небольшое описание елок на 2 строки.
                </p>
                <ul class="template-card__sublist">
                  <li class="template-card__subitem">
                    Цена за 10 шт. - 1 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 50 шт. - 5 500 руб.
                  </li>
                  <li class="template-card__subitem">
                    Цена за 100 шт. - 11 500 руб.
                  </li>
                </ul>
              </div>
            </div>
            <button class="template-card__button btn  sample-btnJs" data-modal="order" aria-label="Нажмите чтобы оставить заявку">
              оставить заявку
            </button>
          </article>
        </li>
      </ul>
    </div>          
  </div>
</section>