<header class="header">
  <div class="header__container header__container_margin">
    <!-- Шаблон микс pattern-1440px -->
    <div class="header__pattern pattern">
      <a class="pattern__logo" href="#">
        <img class="pattern__logo-img" src="img/logo.svg" alt="Логотип Ёлочка">
        <div class="pattern__logo-block">
          <h2 class="pattern__h2">Елочка, гори!</h2>
          <p class="pattern__descMyriad desc">
            Производство искуственных елок и украшений
          </p>
        </div>
      </a>
      <div class="pattern__contacts">
        <div class="pattern__contact">
          <p class="pattern__desc desc">
            Есть вопросы? Звоните!
          </p>
          <div class="pattern__block">
            <a class="pattern__link" href="tel:88002004017">8 (800) 200-40-17</a>
            <a class="pattern__link" href="tel:74994041431">+7 (499) 404-14-31</a>
          </div>
        </div>
        <div class="pattern__grid515">
          <a class="pattern__linkMail" href="mailto:info@elockagori.ru">info@elockagori.ru</a>
          <a class="pattern__linkBtn btn" href="tel:88002004017">ЗАКАЗАТЬ ЗВОНОК</a>
        </div>
      </div>
    </div>
    <!-- // Шаблон микс pattern-1440px -->
  </div>
  <div class="header__block">
    <div class="header__container">
      <button class="header__burger burger" id="burger">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
      <div class="header__menu menu" id="menu">
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item">
              <a class="header__btn header__btn--active" href="index.html" aria-label="Ссылка">Искусственные
                елки</a>
            </li>
            <li class="header__item">
              <a class="header__btn " href="#" aria-label="Ссылка">Живые елки</a>
            </li>
            <li class="header__item">
              <a class="header__btn " href="#" aria-label="Ссылка">Елочки из конфет</a>
            </li>
            <li class="header__item">
              <a class="header__btn " href="#" aria-label="Ссылка">Украшение для елок</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
