<section class="production">
  <div class="production__container">
    <h2 class="production__h2 h2">
      Наше производство 
    </h2>
    <ul class="production__list">
      <li class="production__item">
        <div class="production__img">
          <img src="img/icon-production/production-01.jpg" alt="Картинка-1">
        </div>              
        <p class="production__desc desc">
          Контроль качества продукции
        </p>
      </li>
      <li class="production__item">
        <div class="production__img">
          <img src="img/icon-production/production-02.jpg" alt="Картинка-2">
        </div>              
        <p class="production__desc desc">
          Пример выкладки
        </p>
      </li>
      <li class="production__item">
        <div class="production__img">
          <img src="img/icon-production/production-03.jpg" alt="Картинка-3">
        </div>
        <p class="production__desc desc">
          Сопутствующие товары
        </p>
      </li>
    </ul> 
  </div>
</section>