<section class="reviews">
  <div class="reviews__container">
    <h2 class="reviews__h2 h2">
      Отзывы о нас
    </h2>
    <ul class="reviews__list">
      <li class="reviews__item sample-modalJs">
        <article class="reviews__article">
          <h3 class="reviews__h3 sample-modalH3">Отзыв №1</h3>   
          <!-- reviews__orld чтобы в модалку перешли стили grid --> 
          <div class="reviews__orld">           
            <div class="reviews__img">
              <img src="img/adam.png" alt="фото автора отзыва">
            </div>
            <div class="reviews__info">
              <ul class="reviews__sublist">
                <li class="reviews__subitem">Имя:.............</li>
                <li class="reviews__subitem">Заказывал:.............</li>
                <li class="reviews__subitem">Сумма заказа:..........</li>
              </ul>
              <p class="reviews__desc desc">
                Lorem Ipsum это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати
                и&nbsp;вэб-дизайне. Lorem Ipsum является стандартной &laquo;рыбой&raquo; для текстов
                на&nbsp;латинице с&nbsp;начала XVI&nbsp;века. В&nbsp;то&nbsp;время некий безымянный
                печатник создал большую коллекцию размеров и&nbsp;форм шрифтов, используя Lorem Ipsum для
                распечатки&nbsp; образцов
              </p>
            </div> 
          </div>
          <button class="reviews__button btn btn_green  sample-btnJs" data-modal="order" aria-label="Нажмите чтобы Заказать этот же набор">
            Заказать этот же набор
          </button>
        </article>
      </li>
      <li class="reviews__item sample-modalJs">
        <article class="reviews__article">
          <h3 class="reviews__h3 sample-modalH3">Отзыв №2</h3>   
          <!-- reviews__orld чтобы в модалку перешли стили grid --> 
          <div class="reviews__orld">           
            <div class="reviews__img">
              <img src="img/adam.png" alt="фото автора отзыва">
            </div>
            <div class="reviews__info">
              <ul class="reviews__sublist">
                <li class="reviews__subitem">Имя:.............</li>
                <li class="reviews__subitem">Заказывал:.............</li>
                <li class="reviews__subitem">Сумма заказа:..........</li>
              </ul>
              <p class="reviews__desc desc">
                Lorem Ipsum это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати
                и&nbsp;вэб-дизайне. Lorem Ipsum является стандартной &laquo;рыбой&raquo; для текстов
                на&nbsp;латинице с&nbsp;начала XVI&nbsp;века. В&nbsp;то&nbsp;время некий безымянный
                печатник создал большую коллекцию размеров и&nbsp;форм шрифтов, используя Lorem Ipsum для
                распечатки&nbsp; образцов
              </p>
            </div> 
          </div>
          <button class="reviews__button btn btn_green  sample-btnJs" data-modal="order" aria-label="Нажмите чтобы Заказать этот же набор">
            Заказать этот же набор
          </button>
        </article>
      </li>
      <li class="reviews__item sample-modalJs">
        <article class="reviews__article">
          <h3 class="reviews__h3 sample-modalH3">Отзыв №3</h3>   
          <!-- reviews__orld чтобы в модалку перешли стили grid --> 
          <div class="reviews__orld">           
            <div class="reviews__img">
              <img src="img/adam.png" alt="фото автора отзыва">
            </div>
            <div class="reviews__info">
              <ul class="reviews__sublist">
                <li class="reviews__subitem">Имя:.............</li>
                <li class="reviews__subitem">Заказывал:.............</li>
                <li class="reviews__subitem">Сумма заказа:..........</li>
              </ul>
              <p class="reviews__desc desc">
                Lorem Ipsum это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати
                и&nbsp;вэб-дизайне. Lorem Ipsum является стандартной &laquo;рыбой&raquo; для текстов
                на&nbsp;латинице с&nbsp;начала XVI&nbsp;века. В&nbsp;то&nbsp;время некий безымянный
                печатник создал большую коллекцию размеров и&nbsp;форм шрифтов, используя Lorem Ipsum для
                распечатки&nbsp; образцов
              </p>
            </div> 
          </div>
          <button class="reviews__button btn btn_green  sample-btnJs" data-modal="order" aria-label="Нажмите чтобы Заказать этот же набор">
            Заказать этот же набор
          </button>
        </article>
      </li>
      <li class="reviews__item sample-modalJs">
        <article class="reviews__article">
          <h3 class="reviews__h3 sample-modalH3">Отзыв №4</h3>   
          <!-- reviews__orld чтобы в модалку перешли стили grid --> 
          <div class="reviews__orld">           
            <div class="reviews__img">
              <img src="img/adam.png" alt="фото автора отзыва">
            </div>
            <div class="reviews__info">
              <ul class="reviews__sublist">
                <li class="reviews__subitem">Имя:.............</li>
                <li class="reviews__subitem">Заказывал:.............</li>
                <li class="reviews__subitem">Сумма заказа:..........</li>
              </ul>
              <p class="reviews__desc desc">
                Lorem Ipsum это текст-&laquo;рыба&raquo;, часто используемый в&nbsp;печати
                и&nbsp;вэб-дизайне. Lorem Ipsum является стандартной &laquo;рыбой&raquo; для текстов
                на&nbsp;латинице с&nbsp;начала XVI&nbsp;века. В&nbsp;то&nbsp;время некий безымянный
                печатник создал большую коллекцию размеров и&nbsp;форм шрифтов, используя Lorem Ipsum для
                распечатки&nbsp; образцов
              </p>
            </div> 
          </div>
          <button class="reviews__button btn btn_green  sample-btnJs" data-modal="order" aria-label="Нажмите чтобы Заказать этот же набор">
            Заказать этот же набор
          </button>
        </article>
      </li>
    </ul>
  </div>
</section>