<section class="set">
  <div class="set__container">
    <h2 class="set__h2 h2 color-white255">
      Наши эффективные наборы
    </h2>
    <p class="set__desc desc">
      Мы&nbsp;разработали для Вас готовые наборы на&nbsp;основе статистики наши
    </p>
    <!-- Лайфхак от Жеки. Шаблон микс и модификаторы (_) term-card -->
    <div class="set__term-card term-card">
      <ul class="term-card__list">
        <li class="term-card__item sample-modalJs">
          <article class="term-card__article">
            <div class="term-card__size">
              <h3 class="term-card__h3 sample-modalH3">Ёлка №1</h3>
              <div class="term-card__img-zoom">
                <img src="img/icon-term/01.png" alt="Ёлка Zoom">
              </div>
              <ul class="term-card__sublist">
                <li class="term-card__subitem">    
                  <div class="term-card__subimg">
                    <img src="img/icon-term/02.png" alt="Ёлка Small">
                  </div>
                  <p class="term-card__subquantity">40 см. - 100 шт.</p>
                </li>  
                <li class="term-card__subitem">  
                  <div class="term-card__subimg">
                    <img src="img/icon-term/02.png" alt="Ёлка Small">
                  </div>
                  <p class="term-card__subquantity">80 см. - 50 шт.</p>
                </li>  
                <li class="term-card__subitem">
                  <div class="term-card__subimg">
                    <img src="img/icon-term/02.png" alt="Ёлка Small">
                  </div>
                  <p class="term-card__subquantity">1500 см. - 30 шт.</p>
                </li>  
                <li class="term-card__subitem">
                  <div class="term-card__subimg">
                    <img src="img/icon-term/02.png" alt="Ёлка Small">
                  </div>
                  <p class="term-card__subquantity">2000 см. - 50 шт.</p>
                </li>
                <li class="term-card__subitem subitem">
                  <ul class="subitem__list subitem__list_ordNone1920">
                    <li class="subitem__item">Срок реализации - <strong>1 месяц</strong></li>
                    <li class="subitem__item">Ваша закупка - <strong>1 месяц</strong></li>
                    <li class="subitem__item">Ваша закупка - <strong>1 месяц</strong></li>
                  </ul> 
                </li> 
              </ul>
            </div>
            <div class="subitem">
              <ul class="term-card__sublist subitem__list subitem__list_ordNoneOrd">
                <li class="subitem__item">Срок реализации - <strong>1 месяц</strong></li>
                <li class="subitem__item">Ваша закупка - <strong>1 месяц</strong></li>
                <li class="subitem__item">Ваша закупка - <strong>1 месяц</strong></li>
              </ul>
            </div>
            <button class="term-card__button btn  sample-btnJs" data-modal="order"
              aria-label="Нажмите чтобы оставить заявку">Оставить заявку</button>
          </article>
        </li>
        <li class="term-card__item sample-modalJs">
          <article class="term-card__article">
            <div class="term-card__size">
              <h3 class="term-card__h3 sample-modalH3">Ёлка №2</h3>
              <div class="term-card__img-zoom">
                <img src="img/icon-term/01.png" alt="Ёлка Zoom">
              </div>
              <ul class="term-card__sublist">
                <li class="term-card__subitem">    
                  <div class="term-card__subimg">
                    <img src="img/icon-term/02.png" alt="Ёлка Small">
                  </div>
                  <p class="term-card__subquantity">40 см. - 100 шт.</p>
                </li>  
                <li class="term-card__subitem">  
                  <div class="term-card__subimg">
                    <img src="img/icon-term/02.png" alt="Ёлка Small">
                  </div>
                  <p class="term-card__subquantity">80 см. - 50 шт.</p>
                </li>  
                <li class="term-card__subitem">
                  <div class="term-card__subimg">
                    <img src="img/icon-term/02.png" alt="Ёлка Small">
                  </div>
                  <p class="term-card__subquantity">1500 см. - 30 шт.</p>
                </li>  
                <li class="term-card__subitem">
                  <div class="term-card__subimg">
                    <img src="img/icon-term/02.png" alt="Ёлка Small">
                  </div>
                  <p class="term-card__subquantity">2000 см. - 50 шт.</p>
                </li>
                <li class="term-card__subitem subitem">
                  <ul class="subitem__list subitem__list_ordNone1920">
                    <li class="subitem__item">Срок реализации - <strong>1 месяц</strong></li>
                    <li class="subitem__item">Ваша закупка - <strong>1 месяц</strong></li>
                    <li class="subitem__item">Ваша закупка - <strong>1 месяц</strong></li>
                  </ul> 
                </li> 
              </ul>
            </div>                  
            <div class="subitem">
              <ul class="term-card__sublist subitem__list subitem__list_ordNoneOrd">
                <li class="subitem__item">Срок реализации - <strong>1 месяц</strong></li>
                <li class="subitem__item">Ваша закупка - <strong>1 месяц</strong></li>
                <li class="subitem__item">Ваша закупка - <strong>1 месяц</strong></li>
              </ul>
            </div>
            <button class="term-card__button btn  sample-btnJs" data-modal="order"
              aria-label="Нажмите чтобы оставить заявку">Оставить заявку</button>
          </article>
        </li>
      </ul>
    </div>
    <!-- // Лайфхак от Жеки. Шаблон микс и модификаторы (_) term-card -->
  </div>
</section>